<launch>

  <node pkg="camera_pipe_ros" type="camera_pipe_node" name="camera_pipe_node" output="screen" respawn="true">
      <param name="camera_pipe_path" value="/tmp/_ap0102_pixel" />
      <param name="cam_num" value="4" />
      <param name="image_width" value="1280" />
      <param name="image_height" value="960" />
      <param name="birdview_XMap_path_seg" value="$(find camera_pipe_ros)/param/XMap_seg.yaml" />
      <param name="birdview_YMap_path_seg" value="$(find camera_pipe_ros)/param/YMap_seg.yaml" />
      <param name="birdview_XYMap_path_park" value="$(find camera_pipe_ros)/param/XYMap_park.yaml" />
      <param name="front_cam_info_path" value="file://$(find camera_pipe_ros)/param/front_cam.yaml" />
  </node>

</launch>
